<ul>
  <li><a href="{{site.baseurl}}/">Home</a></li>
  <li><a href="{{site.baseurl}}/pages/Getting-started">Getting started</a></li>
  <li>Installation instructions: <a href="{{site.baseurl}}/pages/Ubuntu-Debian-installation-using-PPA">Ubuntu/Debian</a> | <a href="{{site.baseurl}}/pages/RHEL8-and-CentOS-8-installation">RHEL8/CentOS8</a> | <a href="{{site.baseurl}}/pages/Windows-and-macOS-installation">Windows and macOS</a></li>
  <li>Build instructions: <a href="{{site.baseurl}}/pages/Linux-build-instructions">Linux</a> | <a href="{{site.baseurl}}/pages/Windows-build-instructions">Windows</a></li>
  <li><a href="{{site.baseurl}}/pages/Cheerp-Tutorial">Tutorials</a>
    <ul>
      <li><a href="{{site.baseurl}}/pages/Getting-started#hello-world">Hello, World!</a></li>
      <li><a href="{{site.baseurl}}/pages/Tutorial-Hello-Wasm">Hello, Wasm!</a></li>
      <li><a href="{{site.baseurl}}/pages/Browser-side-programming-guide">Hello, DOM!</a></li>
      <li><a href="{{site.baseurl}}/pages/Cheerp-Tutorial-DOM-Manipulation">DOM manipulation</a></li>
      <li><a href="{{site.baseurl}}/pages/Cheerp-Tutorial-Mixed-mode-C++-to-WebAssembly-and-JavaScript">Pong -> Js + Wasm</a></li>
      <li><a href="{{site.baseurl}}/pages/Using-WebWorkers-with-Cheerp">WebWorkers</a></li>
    </ul>
  </li>
  <li><a href="{{site.baseurl}}/pages/JavaScript-interoperability">JavaScript interoperability</a>
    <ul>
      <li><a href="{{site.baseurl}}/pages/JSExport-attribute">JSExport</a></li>
    </ul>
  </li>
  <li>Interfacing with the browser
    <ul>
      <li><a href="{{site.baseurl}}/pages/Interoperability-with-web-frameworks-(Vue,-Reactor,-Angular)">Interoperability with web frameworks (Vue, Reactor, Angular)</a></li>
      <li><a href="{{site.baseurl}}/pages/CommonJS-Modules">CommonJS Modules</a></li>
      <li><a href="{{site.baseurl}}/pages/WebAssembly-output-(wasm-or-wast-mode)">WebAssembly output (wasm or wast mode)</a></li>
    </ul>
  </li>
  <li>Deep dives
    <ul>
      <li><a href="{{site.baseurl}}/pages/Cheerp-memory-model">Cheerp memory model</a></li>
      <li><a href="{{site.baseurl}}/pages/Cheerp-PreExecuter">Cheerp PreExecuter</a></li>
    </ul>
  </li>
  <li><a href="{{site.baseurl}}/pages/Porting-Guidelines">Porting Guidelines</a>
    <ul>
      <li><a href="{{site.baseurl}}/pages/Custom-allocators-support">Custom allocators support</a></li>
      <li><a href="{{site.baseurl}}/pages/Conversion-between-arrays-and-Typed-Arrays">Conversion between arrays and Typed Arrays</a></li>
      <li><a href="{{site.baseurl}}/pages/WebGL-Troubleshooting">WebGL Troubleshooting</a></li>
      <li><a href="{{site.baseurl}}/pages/GLES-support-(webGLES)">GLES support (webGLES)</a></li>
    </ul>
  </li>
  <li>Additional tools
    <ul>
      <li><a href="{{site.baseurl}}/pages/In-browser-debugging-with-Source-Maps">In browser debugging with Source Maps</a></li>
      <li><a href="{{site.baseurl}}/pages/Cheerp-memory-profiler-for-WebAssembly">Memory profiler for WebAssembly mode</a></li>
      <li><a href="{{site.baseurl}}/pages/Filesystem-emulation">File System emulation</a></li>
      <li><a href="{{site.baseurl}}/pages/Autoconf-(configure)-support">Autoconf (configure) support</a></li>
    </ul>
  </li>
  <li>Cheerp internals
    <ul>
      <li><a href="{{site.baseurl}}/pages/Cheerp-specific-clang-options">Clang options</a></li>
      <li><a href="{{site.baseurl}}/pages/Cheerp-specific-C++-11-attributes">C++ 11 attributes</a></li>
      <li><a href="{{site.baseurl}}/pages/Cheerp-intrinsics">Intrinsics</a></li>
    </ul>
  </li>
  <li><a href="{{site.baseurl}}/pages/Changelog">Changelog</a></li>
  <li><a href="{{site.baseurl}}/pages/FAQs-(Frequently-asked-questions)">FAQs (Frequently asked questions)</a></li>
</ul>
